<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glances</title>

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <script>
      window.__GLANCES__ = {
        'refresh-time': '2'
      }
    </script>
    <script src="glances.js" defer></script>

<script>
function selectServer() {
  var serverName = document.getElementById('serverSelector').value;
  fetch(`/select-server/${serverName}`, { method: 'POST' })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error('Error:', error));
}
</script>

</head>

<body>
<select id="serverSelector", onChange=selectServer()>
  {{ servers_html }}
</select><br>
  <div id="app"></div>
</body>
</html>
